@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');


body {
    margin: 0;
    padding: 0;
    background-color:#f7f6f6;
    font-family: 'Lato', Helvetica, Arial, sans-serif;   
    color: #444444;
}

header {
    font-family: 'Oswald',Arial, sans-serif; 
    background: url(../img/bgSlider.jpg) no-repeat center top / cover;
    padding-bottom:160px;
}

.container {
    max-width:980px;
    margin: 0 auto;
}

.logo{
    margin: 20px;
    float:left;
}

nav {
    float:right;
    margin-right: 20px;
    margin-top: 35px;
}

.menu{
    padding:0;
    margin:0;
    display: block;
}

.menu li {
    float:left;
    display: block;
    margin-right: 20px;
    font-size: 14px;
    font-weight:600;
    
}

.menu li a {
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}

.button{
    background: #ff3823;
    width:150px;
    display:block;
    border-radius:15px;
    padding:10px 0px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    margin:0 auto;
    text-align:center;
    margin-top:30px;
}

.button:href{
    background: #fff;
    color: #ff3823;
}


h1{
    font-size: 40px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    margin:10px;
}

.pretitle{
    font-size: 20px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    margin-top:150px;
}

.teltitle{
    font-size: 40px;
    color:#ff3823;
    text-transform: uppercase;
    text-align: center;
}
    
.title{
    padding-top:70px;
    padding-bottom:30px;
    
}

.title h2{
    font-size:30px;
    font-weight: bold;
    text-align: center;
    text-transform:uppercase;
    margin:0;
}

.title p{
     font-size:16px;
    font-weight: bold;
    text-align: center;
    margin-top:5px;
}

.title hr{
    background: #ff3823;
    width: 50px;
    height: 4px;
     
}



